.container{
    height: 100vh;
    width: 600px;
    background: violet;
}
.top{
    width: 100%;
    height: 30%;
    background: silver;
}
.main{
    width: 100%;
    height: 50%;
    background: black;
}
.cubik{
    width: 150px;
    height: 100px;
    background: black;
}