.father{
    display: flex;
    background: silver;
    justify-content: center;
    box-sizing: border-box;
}
.father>div{
    margin: 100px;
    height: 400px;
    width: 400px;
    background: blue;
}
.div{
    padding: 500px;
}
.body{
    margin: 10px;
}